<div class="inspiration-title col-md-12">
  <h1>Inspiration</h1>
</div>
<div class="category row">
  <% @categories.each do |category|%>
    <%= link_to "#{category.title}", inspiration_path(category)  %><br>
  <% end %>
</div>
