<div class="col-md-2"></div>
<div class="create_account col-md-8">
  <p>Download the Instagram app for iOS from the App Store
    Android from Google Play Store or Windows Phone from the Windows Phone Store.
    Once the app is installed, tap to open it.
    Tap Sign Up, then enter your email address and tap Next OR
    tap Log In with Facebook to sign up with your Facebook account.</p>
</div>
<div class="col-md-2"></div>
