<div class="category-title col-md-12">
  <h1>babybump style</h1>
</div>

<div class="row top">
  <% current_user.pregnancyfashion.each do |instagram_user|  %>
<div class="col-md-4 post-pics">
  <%= render "shared/form", locals: instagram_user %>
</div>
  <% end %>
</div>
