<div class="category-title col-md-12">
  <h1>kids style</h1>
</div>
<div class="row top">
  <% current_user.kidsfashion.each do |h|  %>
<div class="col-md-4 post-pics">
  <%= image_tag(h.images.low_resolution.url) %>
</div>
  <% end %>
</div>
