/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #fafafa;
  font-family: 'Open Sans Condensed', sans-serif;
}

.navbar-default {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
}

#top {
  height: 77px;
  padding: 26px 0;
  width: 100%;

  text-align: center;
  a {
      font-family: 'Montserrat', sans-serif;
      font-style: bold;
      color: #125688;
      font-size: 12px;
  }
}

#padding {
  text-align: center;
  a {
    color: #125688;
    font-family: 'Lobster Two', cursive;
    font-size: 18px;
  }
}

h1 {
  font-family: 'Lobster Two', cursive;
}

h2, h3, h5, h6 {
  font-family: 'Arial', sans-serif;
}
h4 {
  font-family: 'Arial', sans-serif;
  color: #4b4f54;
}
.main-layout {
  padding-top: 135px;
}

.name {

  color: #4b4f54;
  font-size: 39px;
  padding-bottom: 10px;
}

.name-full {
  font-size: 14px;
  color: #4b4f54;
  font-family: 'Montserrat', sans-serif;
  font-style: bold;

}

.pic {
  text-align: center;
  padding-left: 125px;
}

.feed {
  text-align: center;
  img {
    height: 30px;
  }
}

.edit-button {

  vertical-align: middle;
  line-height: 29px;
  padding: 0 11px;
  border-color: #818488;
    color: #818488;
    background: 0 0;
  border-radius: 3px;
  border: 1px solid #919596;
  font-size: 14px;
  font-weight: 400;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
  box-sizing: border-box;
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  -webkit-appearance: button;
}

.search-query {
  border-radius: 20px;
    border: 1px solid #e0e4e5;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #fafafa;
    font-family: 'Arial', sans-serif;
    color: #4b4f54;
}

.followers {
  text-align: center;
  h5 {
  font-family: 'Arial', sans-serif;
  }
}

a {
    font-family: 'Montserrat', sans-serif;
    font-style: bold;
    color: #125688;
    font-size: 12px;
}
