/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #f7f8f9;
  font-family: 'Open Sans Condensed', sans-serif;
}

a:hover {
  color: #4b4f54;
}

.navbar-default {
  text-align: center;
  background-color: white;
  border-color: #e7e7e7;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: 'Dawning of a New Day', cursive;
}

#top {
  width: 100%;
  text-align: center;
  a {
      font-family: 'Dawning of a New Day', cursive;
      color: #125688;
      font-size: 12px;
  }
}

h1 {
  font-family: 'Playfair Display SC', serif;
  color: #4b4f54;
}

h2, h3, h4, h5, h6 {
  font-family: 'Dawning of a New Day', cursive;
  color: #4b4f54;
}

.classy {
  padding-top: 135px;
}

.name {
  text-align: center;
  color: black;
  font-family: 'Playfair Display SC', serif;
  font-size: 39px;
  padding-bottom: 10px;
  h4 {
    font-family: 'Dawning of a New Day', cursive;
    color: #eea09c;
  }
}

.bio {
  text-align: center;
  font-family: 'Playfair Display SC', serif;
  color: #4b4f54;
  font-size: 14px;
}

.name-full {
  font-size: 14px;
  color: #4b4f54;
  font-family: 'Montserrat', sans-serif;
  font-style: bold;
}

.pic {
  text-align: center;
}

.feed {
  padding-top: 20px;
  padding-left: 30px;
  text-align: left;
  img {
    height: 30px;
  }
}

.edit-button {
  background-color: #fafafa;
  border-color: #818488;
    color: #818488;
  border-radius: 3px;
  border: 1px solid #919596;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
}

// .search-query {
//   border-radius: 20px;
//     border: 1px solid #e0e4e5;
//     text-align: center;
//     padding-left: 50px;
//     padding-right: 50px;
//     padding-top: 5px;
//     padding-bottom: 5px;
//     background-color: #fafafa;
//     font-family: 'Arial', sans-serif;
//     color: #4b4f54;
// }

.followers {
  text-align: center;
  h5 {
  font-family: 'Arial', sans-serif;
  }
}

a {
    font-family: 'Dawning of a New Day', cursive;
    font-style: bold;
    color: #4b4f54;
    font-size: 35px;
}

.top {
  padding-top: 40px;
}

.post-pics {
  padding-bottom: 50px;
  text-align: center;
}

.post-pics:hover img {
    opacity: 0.5;
}

.feed-pics {
  padding-top: 20px;
  padding-bottom: 30px;
  width: 100%;
}

.circle {
  height: 35px;
}

.likes {
  color: #4b4f54;
}

.comment-text {
  h5 {
    color: black;
    font-family: 'Open Sans Condensed', sans-serif;
  }
}

.container {
  width: 100%;
}

.login-link {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
  a {
    color: #4b4f54;
    font-family: 'Dawning of a New Day', cursive;
    font-size: 35px;
  }
  h4 {
    font-family: 'Dawning of a New Day', cursive;
    color: #eea09c;
  }
}

.logo {
  img{
    width: 150px;
    height: 75px;
  }
}

.category-title {
  h1 {
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    font-size: 80px;
    color: black;
  }
  text-align: center;
  padding-bottom: 110px;
  padding-top: 50px;
}

.user-path {
    a {
        font-family: 'Dawning of a New Day', cursive;
        font-style: bold;
        color: #eea09c;
        font-size: 35px;
    }
}

.category-images {
  a {
    font-family: 'Dawning of a New Day', cursive;
    text-align: center;
    color: #4b4f54;
    font-size: 50px;
    display: block;
  }
  h4 {
    font-family: 'Dawning of a New Day', cursive;
    color: #eea09c;
  }
  text-align: center;
  img {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.inspiration-title {
  h1 {
    font-family: 'Playfair Display SC', serif;
    text-align: center;
    color: black;
    padding-top: 50px;
    padding-bottom: 70px;
    font-size: 50px;
  }
}

.row-bottom {
  padding-bottom: 100px;
}

.create-account {
  padding-left: 750px;
}

.row-border {
  padding-top: 15px;
  border-bottom: 1px solid #e7e7e7;;
}

#button {
    border: none;
    background-color: #f7f8f9;
}

.layout-profile {
  text-align: center;
  padding-bottom: 75px;
  img {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  a {
    display: block;
  }
}

.create_account {
  font-size: 30px;
  text-align: center;
  font-family: 'Dawning of a New Day', cursive;
  padding-top: 50px;
  color: #80777a;
}

.dhfjkdshkj {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
}
