/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #f7f8f9;
  font-family: 'Open Sans Condensed', sans-serif;
}

.navbar-default {
  text-align: center;
  background-color: white;
  border-color: #e7e7e7;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: 'Dawning of a New Day', cursive;

}

#top {
  width: 100%;
  text-align: center;
  a {
      font-family: 'Dawning of a New Day', cursive;
      color: #125688;
      font-size: 12px;
  }
}

#padding {
  text-align: center;
  a {
    color: #125688;
    font-family: 'Lobster Two', cursive;
    font-size: 25px;
  }
}

h1 {
  font-family: 'Lobster Two', cursive;
  color: #4b4f54;
}

h2, h3, h5, h6 {
  font-family: 'Arial', sans-serif;
}
h4 {
  font-family: 'Arial', sans-serif;
  color: #4b4f54;
}
.classy{
  padding-top: 135px;
}

.name {

  color: #4b4f54;
  font-size: 39px;
  padding-bottom: 10px;
}

.name-full {
  font-size: 14px;
  color: #4b4f54;
  font-family: 'Montserrat', sans-serif;
  font-style: bold;

}

.pic {
  text-align: center;
  padding-left: 125px;
}

.feed {
  padding-top: 20px;
  padding-left: 30px;
  text-align: left;
  img {
    height: 30px;
  }
}

.edit-button {
  background-color: #fafafa;
  border-color: #818488;
    color: #818488;
  border-radius: 3px;
  border: 1px solid #919596;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
}

.search-query {
  border-radius: 20px;
    border: 1px solid #e0e4e5;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #fafafa;
    font-family: 'Arial', sans-serif;
    color: #4b4f54;
}

.followers {
  text-align: center;
  h5 {
  font-family: 'Arial', sans-serif;
  }
}

a {
    font-family: 'Dawning of a New Day', cursive;
    font-style: bold;
    color: #4b4f54;
    font-size: 35px;
}

.top {
  padding-top: 40px;
}

.post-pics {
  padding-bottom: 50px;
  text-align: center;
}

.post-pics:hover img {
    opacity: 0.5;
}

.hero {
  background: image-url("hearts.png") no-repeat;
  background-size: cover;
  background-color: white;
  height: 80vh;
  margin-bottom: 3rem; }

.circle-bg, .quote-1, {
  margin-top: -2rem;
  text-align: center;
  opacity: .6;
  border-radius: 50%;
  height: 12rem;
  width: 12rem; }
  @media only screen and (min-width: 64.063em) {
    .circle-bg, .quote-1, {
      margin: 0 auto;
      margin-top: 2rem;
      height: 13rem;
      width: 13rem; } }
  .circle-bg p, .quote-1 p, p {
    position: relative;
    top: 50%;
    transform: translateY(-50%); }

.quote-1 {
  background: grey;
  color: #888;
  z-index: 9999999;
  position: relative; }
  @media only screen and (min-width: 64.063em) {
    .quote-1 {
      margin-right: 10rem; }
}

.subheader {
  padding-bottom: 50px;
}

.feed-pics {
  padding-top: 20px;
  padding-bottom: 30px;
  width: 100%;
}

.card {
  padding-top: 18px;
  padding-bottom: 18px;
  font-family: 'Montserrat', sans-serif;
  color: #125688;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px; }

  .card p {
  margin: 0; }
  .card .action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 1.3rem; }
  .card a {
    color: #ffab40;
    margin-right: 1.3rem;
    transition: color 0.3s ease;
    text-transform: uppercase;
    text-decoration: none; }
    .card .image {
   position: relative; }
   .card .image .title {
     position: absolute;
     bottom: 0;
     left: 0;
     color: #fff; }
   .card .image img {
     border-radius: 2px 2px 0 0; }


.circle {
  height: 35px;
}

.likes {
  color: #4b4f54;
}

.comment-text {
  h5 {
    color: black;
    font-family: 'Open Sans Condensed', sans-serif;
  }
}

.container {
  width: 100%;
}

.login-link {
  padding-bottom: 100px;
  a {
    color: #FF6699;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 50px;
    font-style: bold;

  }
}

.logo {
  img{
    width: 150px;
    height: 75px;
  }
}

.category-title {
  h1 {
    font-family: 'Dawning of a New Day', cursive;
    font-size: 100px;
  }
  text-align: center;
  padding-bottom: 50px;
}

.user-path {
    a {
        font-family: 'Dawning of a New Day', cursive;
        font-style: bold;
        color: #eea09c;
        font-size: 35px;
    }
}

.category-images {
img {
  align-items: center;

  width: 500px;
  height: 400px;
  padding-left: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 15px;
}

}
