/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #fafafa;
  font-family: 'Open Sans Condensed', sans-serif;
}

.navbar-default {
  background-color: white;
}

#top {
  height: 77px;
  padding: 26px 0;
  width: 100%;

  text-align: center;
  a {
      font-family: 'Montserrat', sans-serif;
      font-style: bold;
      color: #125688;
      font-size: 12px;
  }
}

#padding {
  text-align: center;
  a {
    color: #125688;
    font-family: 'Lobster Two', cursive;
    font-size: medium;
  }
}

h1 {
  font-family: 'Lobster Two', cursive;
}

h2, h3, h4, h5, h6 {
  font-family: 'Open Sans Condensed', sans-serif;
}

.main-layout {
  padding-top: 135px;
}

.name {
  text-align: center;
  color: #4b4f54;
  font-size: 39px;
  padding-bottom: 10px;
}

.name-full {
  font-size: 14px;
  color: #4b4f54;
  font-family: 'Montserrat', sans-serif;
  font-style: bold;
  padding-left: 126px;

}

.pic {
  text-align: center;
}
