<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container col-md-4" id="top"> <%= link_to "Log out", logout_path, method: :delete %>
  <div class="container col-md-4" id="padding"><%= link_to "Fauxagram", root_path %></div>
  <div class="container col-md-4">...2</div>
</div>
</nav>
